
body {
    margin: 0;
    background: #282c34;
    overflow: hidden;
}

canvas {
    margin: 0;
    background-color: rgb(80, 90, 70);
    background: #282c34;
    border-top: 3px solid #808080;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid #808080;
    position:fixed;
}

.Birb {
    width: 2px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
}

.target {
    width: 4px;
    height: 4px;
    background-color: rgba(255, 0, 0, 0.5);
    position: absolute;
}